/* * {
  box-sizing: border-box;
} */

body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    overflow-y:hidden;
    background: #1B1C1E;
     /* background: #f8f8f8; 
    font-weight: 400;
    font-family: Poppins;
     display: block; 
       */
    /* margin: 8px;  */
  }
  .signup:-webkit-scrollbar {
    margin-bottom: 150px;
    display: none;
  }
  section {
    display: block;
  }
  .container {
    background: #1B1C1E;
    margin: 0 auto;
    /* -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05); */
    /* -webkit-border-radius: 20px; */
  }
  div {
    display: block;
  }
  .signup-content {
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    padding: 75px 0;
    display: -webkit-flex;
  }
  .signup-form {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
    overflow: hidden;
  }
  .form-title {
    margin-bottom: 33px;
    text-align: center;
  }
  h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:#B0B1B3;
    font-family: Poppins;
    font-size: 56px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .register-form {
    width: 100%;
  }
  form {
    display: block;
    margin-top: 0em;
  }
  .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
  }
  label {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    color: #222;
    cursor: default;
  }
  .material-icons-name {
    font-size: 18px;
  }
  .zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: 	#AAABAD;
  }
  .zmdi-account:before {
    content: '\f207';
  }
  .zmdi-email:before {
    content: '\f15a';
  }
  .zmdi-lock:before {
    content: '\f191';
  }
  input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: unset !important;
    background-color: #1B1C1E;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    -webkit-writing-mode: horizontal-tb !important;
  }

  ::placeholder {
    color:#434446;
  }
  .form-group:last-child {
    margin-bottom: 0px;
  }
  .form-button {
    text-align: center;
  }

  .form-submit {
    display: inline-block;
    background: #189574;
    color: whitesmoke;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    -webkit-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
  }
  
  /* .type-10 {
  height: 1px;
  color: #A9AAAC;
  background-color: #A9AAAC;
  border: none;

  } */

  .center {
    text-align: center;
    padding-top: 50px;
  }

  span{
    color: #494A4C;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: #A9AAAC;
    margin-left: 5px;
  }