  .navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 15px 0px 0px 0px;
    justify-content: space-around;
    border-bottom: 1px solid #FAFAFA;
  }
  
  p{
    color:#E75B00;
  }

  .globalNav{
    background: #3C3C3C;
    width: 100%;
    align-items: center;

  }
/*   
  .cat {
    margin-left:20px;
  }
  
  .user {
    margin-right: 20px;
  }
  
  .navbar-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */